<div class="flex gap-3 overflow-y-auto bg-white min-h-[calc(100vh-4rem)] ">
  <section
    class="flex fixed flex-col w-auto min-w-[300px] bg-gradient-to-t bg-slate-100  pt-6 h-[calc(100%-100px)]  rounded-2xl m-5">
    <div class="flex flex-col">
      <div (click)="changeTaskType(tab.key)" *ngFor="let tab of tabs" [ngClass]="
          tab.key === selectedTab
            ? ' rounded-full !border-emerald-500 bg-emerald-50'
            : 'text-slate-400'
        " class="p-3 mx-6 border-2 border-transparent rounded-md cursor-pointer font-normal flex gap-2">
        <span class="material-symbols-outlined" [ngClass]="tab.key === selectedTab ? 'fill' : ''">
          {{ tab.icon }} </span>{{ tab.title }}
      </div>
    </div>
    <div class="py-4 mt-6 px-5 flex flex-col gap-1 border-t-2 border-gray-200 ">
      <span class="mb-3 px-5 text-gray-800">SORT BY</span>
      <div (click)="changeSortType(tab.key)" *ngFor="let tab of sortTabs" [ngClass]="
          tab.key === selectedSortTab
            ? 'bg-gradient-to-b from-emerald-600 to-emerald-700 text-white '
            : 'text-gray-400'
        " class="p-3 rounded-md cursor-pointer font-normal flex gap-2">
        <span class="material-symbols-outlined" [ngClass]="tab.key === selectedSortTab ? 'fill' : ''">
          {{ tab.icon }} </span>{{ tab.title }}
      </div>
    </div>

  </section>

  <section class="ml-[320px] p-6 flex w-full flex-col">
    <div cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="
        (tasks$ | async) && (tasks$ | async)!.length > 0;
        else emptyTemplate
      ">
      <div cdkDrag
        class="p-4 rounded-lg border-gray-100 flex w-full justify-between items-center bg-white transition duration-200 hover:bg-gray-50 hover:cursor-pointer"
        *ngFor="let task of tasks$ | async">

        <!-- Task Details -->
        <div class="flex gap-4 items-start">
          <!-- Status Indicator -->
          <span (click)="changeStatus(task)" [ngClass]="{
               'text-emerald-600': task.done,
               'text-gray-300 hover:text-emerald-500': !task.done
           }" class="material-symbols-outlined text-3xl cursor-pointer transition duration-200">
            {{ task.done ? "check_circle" : "radio_button_unchecked" }}
          </span>

          <!-- Title & Description -->
          <div class="flex flex-col">
            <span class="flex gap-2 items-center">
              <span *ngIf="task.group" style="letter-spacing: 0.6px" [style.background]="task.group?.color"
                class="text-xs text-white px-2 py-1 rounded-full">{{ task.group?.name }}</span>
              <span class="font-semibold text-lg text-gray-800">{{ task.title }}</span>
            </span>
            <span class="text-gray-600">{{ task.description }}</span>
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="flex gap-3">
          <div (click)="editTask(task.id)"
            class="flex justify-center text-sm font-medium items-center border border-gray-300 rounded-full px-4 py-2 gap-2 text-gray-600 cursor-pointer hover:bg-emerald-500 hover:text-white transition duration-200">
            <span class="material-symbols-outlined text-sm">edit</span>Edit
          </div>
          <div (click)="deleteTask(task.id)"
            class="flex justify-center text-sm font-medium items-center border border-gray-300 rounded-full px-4 py-2 gap-2 text-gray-600 cursor-pointer hover:bg-red-500 hover:text-white transition duration-200">
            <span class="material-symbols-outlined text-sm">delete</span>Remove
          </div>
        </div>
      </div>

    </div>
    <ng-template #emptyTemplate>
      <div class="flex flex-col justify-center items-center gap-6 h-80 m-auto pt-6">
        <span class="material-symbols-outlined text-9xl text-gray-400">
          empty_dashboard
        </span>
        <h1 class="text-lg text-gray-800">You’re all caught up!</h1>
        <p class="text-md w-1/2 text-center text-gray-500">
          No pending tasks means you have time to pursue your passions!
          Whether it’s picking up a new hobby or indulging in your favorite series,
          today is all yours!
        </p>

        <button
          class="flex justify-center gap-4 items-center text-lg rounded-md bg-black hover:bg-gray-800 transition-all duration-500 text-white p-5 px-10">
          <span class="material-symbols-outlined">
            loupe
          </span>Add Task to Your List
        </button>
      </div>

    </ng-template>
  </section>
</div>