<div
  class="flex gap-3 overflow-y-auto bg-white min-h-[calc(100vh-4rem)] dark:bg-slate-700"
>
  <section
    class="flex fixed flex-col w-auto min-w-[250px] bg-slate-100 pt-6 h-screen dark:bg-slate-800"
  >
    <div class="flex flex-col">
      <div
        (click)="changeTaskType(tab.key)"
        *ngFor="let tab of tabs"
        [ngClass]="tab.key === selectedTab ? 'bg-slate-200' : 'text-slate-400'"
        class="p-3 mx-6 rounded-md cursor-pointer font-normal flex gap-2"
      >
        <span
          class="material-symbols-outlined"
          [ngClass]="tab.key === selectedTab ? 'fill' : ''"
        >
          {{ tab.icon }} </span
        >{{ tab.title }}
      </div>
    </div>
    <div class="py-4 mt-6 px-10 flex flex-col gap-1 border-t-2 border-gray-200">
      <span class="mb-3 text-gray-500">Sort By</span>
      <div
        (click)="changeSortType(tab.key)"
        *ngFor="let tab of sortTabs"
        [ngClass]="
          tab.key === selectedSortTab
            ? 'bg-blue-400 text-white'
            : 'text-gray-400'
        "
        class="p-3 rounded-md cursor-pointer font-normal flex gap-2"
      >
        <span
          class="material-symbols-outlined"
          [ngClass]="tab.key === selectedSortTab ? 'fill' : ''"
        >
          {{ tab.icon }} </span
        >{{ tab.title }}
      </div>
    </div>
    <!-- <div class="py-4 mt-6 px-10 text-gray-300 border-t-2 border-gray-200">
      Filter By
    </div> -->
  </section>

  <section class="ml-[250px] p-6 flex w-full flex-col">
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      *ngIf="
        (tasks$ | async) && (tasks$ | async)!.length > 0;
        else emptyTemplate
      "
    >
      <div
        cdkDrag
        class="py-2 border-b-[1px] border-[#E2E2E2] flex w-full justify-between items-center bg-[#f9f9f9]"
        *ngFor="let task of tasks$ | async"
      >
        <div class="flex gap-3">
          <div>
            <span
              (click)="changeStatus(task)"
              [ngClass]="{
                'text-blue-600': task.done,
                'text-gray-300 hover:text-blue-200': !task.done
              }"
              class="material-symbols-outlined text-xl cursor-pointer font-semibold"
            >
              {{ task.done ? "check_circle" : "radio_button_unchecked" }}
            </span>
          </div>
          <!-- Title & Description -->
          <div class="flex flex-col">
            <span class="flex gap-2 items-center">
              <span
                *ngIf="task.group"
                style="letter-spacing: 0.6px"
                [style.background]="task.group?.color"
                class="text-xs text-white px-2 py-1 rounded-full"
                >{{ task.group?.name }}</span
              >
              <span class="font-medium text-lg text-gray-700">{{
                task.title
              }}</span>
            </span>
            <span class="text-gray-500">{{ task.description }}</span>
          </div>
        </div>

        <div class="flex gap-3">
          <div
            (click)="editTask(task.id)"
            class="flex justify-center text-sm font-medium items-center border-[1px] border-gray-200 rounded-full px-2 py-1 gap-2 text-gray-300 cursor-pointer hover:text-blue-500 hover:border-blue-500"
          >
            <span class="material-symbols-outlined text-sm"> edit </span>Edit
          </div>
          <div
            (click)="deleteTask(task.id)"
            class="flex justify-center text-sm font-medium items-center border-[1px] border-gray-200 rounded-full px-2 py-1 gap-2 text-gray-300 cursor-pointer hover:text-gray-500 hover:border-gray-500"
          >
            <span class="material-symbols-outlined text-sm"> delete </span
            >Remove
          </div>
        </div>
      </div>
    </div>
    <ng-template #emptyTemplate>
      <div
        class="text-gray-400 justify-center flex items-center flex-col gap-6 h-80 mr-10"
      >
        <mat-icon class="scale-[3]">inbox</mat-icon>
        <h1 class="text-lg">Relax, you have no pending tasks!</h1>
        <p class="text-md text-gray-500">
          Enjoy your free time or take this opportunity to start something new.
        </p>

        <h1
          [routerLink]="'/app/task'"
          class="text-lg border-2 rounded-md border-gray-200 text-gray-400 p-5 px-10 cursor-pointer flex items-center gap-3"
        >
          <mat-icon>add_circle_outline</mat-icon> Add New Task
        </h1>
      </div>
    </ng-template>
  </section>
</div>
