<div class="fade-in flex overflow-clip bg-black bg-opacity-5 min-h-[calc(100vh-4rem)]">
  <!-- Side bar -->
  <aside
    class="flex max-sm:hidden flex-col min-w-[208px] max-ls:w-64 max-md:w-52 w-72 bg-gradient-to-t bg-white py-6 h-[calc(100vh-4rem)]">
    <div class="flex flex-col">
      <div (click)="changeTaskType(tab.key)" *ngFor="let tab of tabs" [ngClass]="
          tab.key === selectedTab
            ? 'rounded-full !border-black bg-emerald-800 text-white'
            : 'text-slate-400 hover:text-black transition-all delay-150'
        " class="p-3 mx-5 border-1 border-transparent rounded-md cursor-pointer font-normal flex gap-2">
        <span class="material-symbols-outlined" [ngClass]="tab.key === selectedTab ? 'fill' : ''">
          {{ tab.icon }} </span>{{ tab.title }}
      </div>
    </div>
    <div class="py-4 mt-6 px-5 flex flex-col gap-1 border-t-2 border-gray-200 ">
      <span class="mb-3 px-5 text-gray-800">SORT BY</span>
      <div (click)="changeSortType(tab.key)" *ngFor="let tab of sortTabs" [ngClass]="
          tab.key === selectedSortTab
            ? 'bg-emerald-800 text-white'
            : 'text-gray-400  hover:text-black transition-all delay-150'
        " class="p-3 rounded-md cursor-pointer font-normal flex gap-2">
        <span class="material-symbols-outlined" [ngClass]="tab.key === selectedSortTab ? 'fill' : ''">
          {{ tab.icon }} </span>{{ tab.title }}
      </div>
    </div>
  </aside>

  <!-- Main container -->
  <section class="p-6 flex flex-grow flex-col  max-ls:p-5">
    <div *ngIf="tasks$ | async as tasks; else loadingTemplate">
      <div cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="tasks.length > 0; else emptyTemplate">
        <div cdkDrag [ngClass]="{'animate':task.animate}"
          class="p-4 gap-1 rounded-lg border mt-3 first:mt-0 border-gray-100 flex w-full justify-between items-start bg-white hover:bg-gray-50 hover:cursor-pointer"
          *ngFor="let task of tasks">

          <!-- Task Details -->
          <div class="flex gap-4 items-start">
            <!-- Status Indicator -->
            <span (click)="changeStatus(task)" [ngClass]="{
             'text-emerald-600': task.done,
             'text-gray-300 hover:text-emerald-500': !task.done
             }" class="material-symbols-outlined text-2xl -mt-2 cursor-pointer transition duration-200">
              {{ task.done ? "check_circle" : "radio_button_unchecked" }}
            </span>

            <!-- Title & Description -->
            <div class="flex flex-col gap-1">
              <div class="flex flex-wrap gap-x-2 gap-y-1 items-center">
                <span *ngIf="task.group" style="letter-spacing: 0.6px" [style.background]="task.group?.color"
                  class="text-xs text-white min-w-fit px-2 py-[2px] rounded-full"> {{ task.group?.name }}</span>
                <span class="font-medium text-base leading-5 text-gray-800">{{ task.title }}</span>
              </div>
              <span class="text-gray-600 text-sm">{{ task.description }}</span>
            </div>
          </div>

          <!-- Action Buttons -->
          <div class="relative flex items-center gap-2 -mt-2 -mr-2">
            <!-- Options Button -->
            <button cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="toggleMenu(task)"
              class="flex items-center justify-center p-1 rounded-md text-gray-400 hover:bg-gray-200 transition duration-300 ease-in-out focus:outline-none">
              <span class="material-symbols-outlined text-xl">widgets</span>
            </button>

            <!-- Dropdown Menu -->
            <ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
              [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="trigger"
              [cdkConnectedOverlayOpen]="activeMenu === task" (backdropClick)="closeMenu()">
              <div class="rounded-md right-0 mt-2 w-48 bg-white border drop-shadow-xl z-10 overflow-hidden">

                <!-- If confirming delete, show confirmation text and buttons -->
                <div *ngIf="confirmingDelete === task; else taskOptions">
                  <div class="p-4 text-sm text-gray-700">
                    Are you sure you want to delete this task?
                  </div>
                  <div class="flex justify-between px-4 pb-2">
                    <button (click)="deleteTask(task)"
                      class="px-4 py-1 text-white bg-red-500 text-sm rounded-md hover:bg-red-600 transition duration-300 ease-in-out">Yes</button>
                    <button (click)="closeMenu()"
                      class="px-4 py-1 text-gray-600 bg-gray-200 text-sm rounded-md hover:bg-gray-300 transition duration-300 ease-in-out">No</button>
                  </div>
                </div>

                <!-- Options for Edit and Delete -->
                <ng-template #taskOptions>
                  <button (click)="editTask(task)"
                    class="flex items-center w-full text-left px-4 py-2 text-sm text-emerald-800 hover:bg-emerald-50 transition duration-300 ease-in-out">
                    <span class="material-symbols-outlined mr-2 text-xl">edit</span>Edit
                  </button>
                  <button (click)="confirmDelete(task)"
                    class="flex items-center w-full text-left border-t border-gray-100 px-4 py-2 text-sm text-red-600 hover:bg-red-50 transition duration-300 ease-in-out">
                    <span class="material-symbols-outlined mr-2 text-xl">delete</span>Delete
                  </button>
                  <button (click)="closeMenu()"
                    class="flex items-center w-full text-left px-4 py-2 text-sm text-gray-800 hover:bg-gray-50  transition duration-300 ease-in-out">
                    <span class="material-symbols-outlined mr-2 text-xl">close</span>Close
                  </button>
                </ng-template>
              </div>
            </ng-template>
          </div>
        </div>

        <div routerLink="/app/task"
          class="p-4 rounded-lg border mt-3 gap-3 justify-center transition-all duration-300 font-medium text-gray-500 border-gray-100 flex w-full hover:text-black items-center bg-gray-50 cursor-pointer hover:bg-white">
          <span class="material-symbols-outlined">
            loupe
          </span>Add Task to Your List
        </div>
      </div>
    </div>


  </section>
</div>


<ng-template #loadingTemplate>
  <div class="flex flex-col gap-4">
    <div class="animate-pulse flex space-x-4 p-4 rounded-lg border border-gray-100 bg-white">
      <div class="rounded-full bg-gray-200 h-8 w-8"></div>
      <div class="flex-1 space-y-4 py-1">
        <div class="h-4 bg-gray-200 rounded w-2/4"></div>
        <div class="space-y-2">
          <div class="h-4 bg-gray-200 rounded w-5/6"></div>
        </div>
      </div>
    </div>

    <div class="animate-pulse flex space-x-4 p-4 rounded-lg border border-gray-100 bg-white">
      <div class="rounded-full bg-gray-200 h-8 w-8"></div>
      <div class="flex-1 space-y-4 py-1">
        <div class="h-4 bg-gray-200 rounded w-2/4"></div>
        <div class="space-y-2">
          <div class="h-4 bg-gray-200 rounded w-5/6"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #emptyTemplate>
  <div class="flex flex-col justify-center items-center gap-4 h-[calc(100vh-10rem)] overflow-clip m-auto pt-6">
    <span class="material-symbols-outlined text-8xl text-gray-400">
      empty_dashboard
    </span>
    <h1 class="text-lg text-gray-800">You’re all caught up!</h1>
    <p class="text-md w-1/3 max-xl:w-2/3 max-md:w-full text-center text-gray-400">
      All tasks are completed. Great job!
      Take this opportunity to plan ahead or enjoy some well-deserved rest.
    </p>

    <button routerLink="/app/task"
      class="flex justify-center gap-4 items-center text-lg rounded-md bg-black hover:bg-gray-800 transition-all duration-500 text-white p-3 px-6">
      <span class="material-symbols-outlined">
        loupe
      </span>Add Task to Your List
    </button>
  </div>
</ng-template>