<div class="flex fade-in gap-3 overflow-y-auto bg-black bg-opacity-5 min-h-[calc(100vh-4rem)]">
  <!-- Embed the Group List Component -->
  <app-group-list [selectedGroup]="group?.value" (groupSelected)="setGroup($event)"></app-group-list>

  <!-- Form Content -->
  <main class="ml-5 flex-grow flex-col p-6">
    <nav class="text-gray-500 text-sm mb-4 ">
      <a routerLink="/" class="hover:text-gray-700">Home</a>
      <span> / </span>
      <span class="text-black  font-semibold">Task Form</span>
    </nav>

    <div class="flex items-center flex-grow">
      <div class="w-full max-w-2xl flex flex-col gap-6 mt-5 p-10 py-14 rounded-md bg-white">
        <div [formGroup]="taskForm" class="flex flex-col gap-6">
          <!-- Task Title -->
          <div class="flex flex-1 flex-col gap-2">
            <input class="p-5 py-3 w-full font-light border-gray-200  rounded-md focus:ring-1 ring-black"
              formControlName="title" placeholder="Type a short title that captures the task's essence" />
          </div>

          <!-- Description field -->
          <div class="flex flex-col gap-2">
            <textarea class="p-4 py-3 w-full border-gray-200 font-light rounded-md focus:ring-1 ring-black" rows="4"
              formControlName="description"
              placeholder="Describe the task and any relevant details you want to include"></textarea>
          </div>

          <!-- Save button -->
          <div class="flex ">
            <button (click)="saveTask()"
              class="p-3 px-6 flex gap-3 items-center bg-black text-white rounded-md hover:bg-slate-800 ">
              <span class="material-symbols-outlined">outbound</span>
              {{ taskId ? "Save Changes to Task" : "Create New Task" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>