<div class="flex items-center justify-center gap-6">
  <div
    [formGroup]="taskForm"
    class="m-6 w-3/6 flex flex-col gap-6 rounded-md p-6 border-[1px] bg-white shadow-sm"
  >
    <!-- First row -->
    <div class="flex w-full gap-6">
      <div class="flex w-full flex-col gap-2">
        <label class="text-lg font-medium flex"
          >Title
          <div class="text-red-500 text-xs -mt-0 ml-2">(required*)</div>
        </label>
        <input class="p-3 w-full" formControlName="title" />
      </div>
      <div class="flex flex-col gap-2">
        <label class="text-lg flex">Group</label>
        <div
          (click)="isOpen = !isOpen"
          cdkOverlayOrigin
          #trigger="cdkOverlayOrigin"
          class="text-gray-300 w-[200px] p-3 border-[1px] border-gray-300 rounded-md cursor-pointer"
        >
          <span
            class="text-gray-800"
            *ngIf="group.value != null; else emptyOption"
          >
            {{ group?.value?.name }}
          </span>
          <ng-template #emptyOption>
            <span> Select an option </span>
          </ng-template>
        </div>
        <!-- This template displays the overlay content and is connected to the button -->
        <ng-template
          cdkConnectedOverlay
          cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
          [cdkConnectedOverlayHasBackdrop]="true"
          [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="isOpen"
          (backdropClick)="isOpen = false"
        >
          <ul class="bg-gray-50 m-2 shadow-sm rounded-sm min-w-[190px]">
            <app-group-list
              [selectedGroup]="group.value"
              (groupSelected)="setGroup($event)"
            ></app-group-list>
          </ul>
        </ng-template>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-lg">Description</label>
      <textarea class="p-3" rows="4" formControlName="description"></textarea>
    </div>

    <div>
      <button
        (click)="saveTask()"
        class="px-5 py-3 bg-black text-white rounded-md hover:bg-slate-700"
      >
        {{ taskId ? "Update" : "Create" }} Task
      </button>
    </div>
  </div>
</div>
