<div class="flex w-full justify-start flex-col px-10 py-20 gap-10">
  <!-- <div class="flex w-full bg-slate-800 rounded-md p-2 font-medium text-lg">
    <button class="flex w-3/6 bg-white px-6 py-1 rounded-md justify-center">
      Local
    </button>
    <button class="flex w-3/6 text-white px-6 py-1 rounded-md justify-center">
      Global
    </button>
  </div> -->

  <!-- Form element -->
  <div class="flex flex-col gap-1">
    <label class="text-lg dark:text-gray-200">Name</label>
    <input class="p-3" placeholder="Give your name" [(ngModel)]="name" />
  </div>

  <button
    (click)="doLogin()"
    class="flex justify-center rounded-md bg-black hover:bg-slate-800 dark:hover:bg-slate-900 text-white py-3 dark:text-gray-200"
  >
    Start Now
  </button>
</div>
