<app-nav-bar></app-nav-bar>
<div class="pt-16">
  <router-outlet></router-outlet>
</div>

<!-- Popup for Confirmation -->
<app-modal *ngIf="showModal">
  <div class="p-5 bg-white  rounded-md flex flex-col gap-5">
    <!-- Modal Title -->
    <h1 class="font-semibold flex gap-4 items-center">
      <span class="material-symbols-outlined">
        sync
      </span>Sync your local data
    </h1>
    <!-- Body Section -->
    <p class="text-sm" [innerHTML]="switchMessage">
    </p>

    <!-- Footer Section -->
    <section class="flex flex-row-reverse items-center gap-3 justify-start">
      <button (click)="switchOnline(true)"
        class="px-6 py-2 bg-emerald-800 font-semibold transition-all duration-300 text-white text-sm rounded-md hover:bg-emerald-900">
        YES
      </button>
      <button (click)="switchOnline(false)"
        class="px-6 py-2 border border-transparent hover:border-gray-200  transition-all duration-300 text-black text-sm rounded-md">
        Cancel
      </button>
    </section>
  </div>
</app-modal>