<ng-container *ngIf="user$ | async as user">
  <div class="fixed top-0 h-16 w-full z-10 bg-gradient-to-r from-black via-zinc-900 to-black text-gray-50 shadow-sm">
    <div class="flex justify-between items-center px-8 py-3 max-sm:px-5">
      <div class="flex items-center gap-5">
        <img class="h-6" src="../../../../../assets/images/logo.svg" />
        <p class="text-lg max-ls:hidden">
          {{ currentDate$ | async | date : "hh:mm a" }}
        </p>
        <!-- "Good morning" Message -->
        <div class=" flex gap-2 ml-3">
          <span class="font-light">{{ greeting }} </span>
          <span class="font-normal max-sm:hidden">
            {{user?.name}}
          </span>

          <span class="font-normal hidden max-sm:flex">
            {{(user?.name || '').split(' ')[0] || ''}}
          </span>
        </div>
      </div>

      <!-- User Actions -->
      <div class="flex items-center gap-2">
        <input id="search" placeholder="Search" (input)="searchTask($event)" *ngIf="router.url === '/app'"
          class="p-2 text-sm px-5 mr-5 bg-white text-gray-500 border border-gray-300 rounded-full outline-none focus:ring-1 focus:ring-black max-md:hidden" />
        <!-- Add Task Button -->
        <button routerLink="/app/task"
          class="h-10 w-10 flex justify-center items-center bg-white bg-opacity-25 hover:bg-opacity-80 hover:text-black rounded-full text-white transition-all">
          <mat-icon>add</mat-icon>
        </button>

        <!-- Themes Button -->
        <!-- <button (click)="changeTheme()"
          class="h-10 w-10 flex justify-center items-center bg-transparent hover:bg-[#ffffff44] rounded-full ">
          <mat-icon>{{ theme == "dark" ? "wb_sunny" : "wb_sunny" }}</mat-icon>
        </button> -->

        <!-- Settings Button -->
        <button cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="showSettingPopup = !showSettingPopup"
          class="max-ls:border-2 h-10 w-10 flex justify-center items-center bg-transparent hover:bg-[#ffffff44] rounded-full">
          <span class="flex max-ls:hidden"><mat-icon>settings</mat-icon></span>
          <span class="hidden max-ls:flex">{{ getUserInitials(user.name) }}</span>
        </button>

        <!-- User Avatar Button -->
        <button routerLink="/app/setting"
          class="h-10 w-10 flex justify-center max-ls:hidden items-center bg-transparent border-2 bg-black bg-opacity-25 rounded-full text-white">
          <span>
            {{ getUserInitials(user.name) }}
          </span>
        </button>

      </div>
    </div>

    <!-- Setting Popup -->
    <ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
      [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="showSettingPopup" (backdropClick)="showSettingPopup = false">
      <ul class="bg-white m-2 shadow-md rounded-md min-w-[190px] overflow-hidden">
        <li class="p-4 py-2 text-red-800 text-sm flex gap-2 items-center cursor-pointer hover:bg-gray-50 "
          (click)="showClearTaskPopup()">
          <mat-icon class="text-base">clear</mat-icon>
          Clear Tasks
        </li>

        <li class="p-4 py-2 border-t border-gray-100 flex gap-2 text-sm cursor-pointer items-center hover:bg-gray-50"
          (click)="updateProfile()">
          <mat-icon class="text-base">account_circle</mat-icon>Update Profile
        </li>
        <li *ngIf="isLocal" (click)="switchOnline()"
          class="p-4 py-2 text-sm border-t border-gray-100  text-emerald-800 flex gap-2 items-center cursor-pointer hover:bg-gray-50 ">
          <mat-icon class="text-base">public</mat-icon>Switch online
        </li>

        <li
          class="p-4 py-2 text-red-800 border-t border-gray-100  text-sm flex items-center gap-2 cursor-pointer hover:bg-gray-50 "
          (click)="showDeleteAccountPopup()">
          <mat-icon class="text-base">delete</mat-icon>
          Delete Account
        </li>


        <li *ngIf="!isLocal" class="p-4 py-2 text-white bg-black text-sm flex items-center gap-2 cursor-pointer"
          (click)="logout()">
          <mat-icon class="text-base">output</mat-icon>
          Logout
        </li>
      </ul>
    </ng-template>
  </div>
</ng-container>

<!-- Popup for Confirmation -->
<app-modal *ngIf="showModal">
  <div class="p-5 bg-white  rounded-md flex flex-col gap-5">
    <!-- Modal Title -->
    <h1 class="font-semibold flex justify-between items-center ">
      {{isAccountDelete?'Confirm Account Deletion':'Confirm Task Deletion' }}
      <span class="material-symbols-outlined cursor-pointer" (click)="this.showModal = false">
        close
      </span>
    </h1>
    <!-- Body Section -->
    <p class="text-gray-500">
      {{isAccountDelete? deleteAccountMessage: deleteTasksMessage}}
    </p>
    <input *ngIf="isAccountDelete && !isLocal" type="password"
      class="p-5 py-3 border-gray-200 bg-white focus:ring-1 outline-none ring-black" placeholder="Enter your passoword"
      [(ngModel)]="password" />
    <!-- Footer Section -->
    <section>
      <button (click)="clearMyData()" [disabled]="(!isLocal && isAccountDelete && !password) ? true:false"
        [ngClass]="{'cursor-not-allowed hover:bg-red-300 bg-red-300':(!isLocal && isAccountDelete && !password)}"
        class="px-6 py-2 bg-red-700 transition-all duration-300 text-white text-sm rounded-md hover:bg-red-800">
        CONFIRM
      </button>
    </section>
  </div>
</app-modal>