<section
  class="flex m-6 mb-4 mt-10 bg-white w-full justify-between h-12 rounded-md overflow-hidden border-[2px] border-[#f3f3f3] border-collapse"
>
  <div class="flex justify-between w-full">
    <div class="flex">
      <div
        (click)="changeTaskType(tab.key)"
        *ngFor="let tab of tabs"
        [ngClass]="
          tab.key === (selectedTab$ | async) ? 'text-blue-900' : 'text-blue-500'
        "
        class="p-3 cursor-pointer font-semibold flex gap-2"
      >
        <span
          class="material-symbols-outlined"
          [ngClass]="tab.key === (selectedTab$ | async) ? 'fill' : ''"
        >
          {{ tab.icon }} </span
        >{{ tab.title }}
      </div>
    </div>
    <button class="font-semibold text-white px-4" (click)="addNewTask()">
      Add New Task
    </button>
  </div>
</section>
