<section
  class="fixed flex w-16 h-screen bg-blue-900 items-center justify-center"
>
  <div
    style="
      text-orientation: sideways;
      writing-mode: vertical-lr;
      transform: rotateZ(180deg);
    "
    class="flex h-full py-10 justify-between"
  >
    <!-- Local/ Global Icon -->
    <div
      class="p-1 rounded-full border-[2px] border-white left-0 justify-center items-center gap-4 flex text-sm"
    >
      <div
        class="flex py-3 px-1 gap-2 cursor-pointer font-semibold bg-white text-blue-900 rounded-full"
      >
        <span class="material-symbols-outlined text-sm">
          sync_saved_locally
        </span>
        Locally
      </div>
      <div class="flex py-3 gap-2 text-white cursor-pointer font-semibold">
        <span class="material-symbols-outlined text-sm"> public </span> Globally
      </div>
    </div>
    <div class="font text-2xl flex gap-4 text-white">
      <span class="material-symbols-outlined fill text-2xl">
        calendar_view_week
      </span>
      <span>YOUR </span><span>TODO</span>
    </div>
  </div>
</section>
